.navigation {
    width: 100%;
    padding: 2% 0%;
}

.navIcon {
    text-align: center;
    padding: 4%;
    border-radius: 50%;
    border: 10px solid $pColour;
    font-size: 4em;
    height: 10%;
    width: 10%;
    background-color: $pColour;
}

.navDropdown {
    display: none;
}
