.settingsContainer {
    width: 100%;
    padding: 1% 5%;
    display: flex;
    align-items: center;
}

.settingsTag {
    font-size: 1em;
    font-weight: 300;
    padding: 2% 0%;
}

.settingsToggle {
    float: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0% 2%;
}

.settingsImg {
    width: 30%;
    float: right;
    position: relative;
}

.logoutButton {
    // position: absolute;
    // bottom: 0;

    position: inherit;
    margin-top: 3%;
    width: 100%;
}

.settingsDropdown {
    border-radius: 0.5em;
}


.settingsDesktop {
    display: none;
}


// Mobile Optimization
@media screen and (min-width: 600px) {

}


// Desktop Optimization
@media screen and (min-width: 1025px) {
    .logoutButton {
        position: absolute;
        bottom: 0;
        margin-top: 13%;
    }

    .settingsContainer {
        padding: 0% 10%;
    }

    .settingsToggle {
        flex-wrap: nowrap;
        max-height: 5%;
        font-size: 0.7em;
        padding: 0% 1%;
    }


    .settingsLeft {
        width: 50%;
        float: left;
        overflow: auto;
        padding-left: 10%;
    }

    .settingsRight {
        width: 48%;
        float: right;
        overflow: auto;
        padding-right: 10%;
    }


    .settingsMobile {
        display: none !important;
    }

    .settingsDesktop {
        display: block;
        overflow: auto;
    }
}
