.settingsContainer {
    width: 100%;
    padding: 1% 5%;
}

.settingsTag {
    font-size: 0.9em;
    font-weight: 300;
    padding: 2% 0%;
}

.settingsToggle {
    float: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.settingsImg {
    width: 30%;
    float: right;
    position: relative;
}

.logoutButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.settingsDropdown {
    padding: 1%;
    border-radius: 1em;
}
