// Mixins
@mixin hoverPointer {
    cursor: pointer;
}

@mixin h100wa {
    height: 95vh !important;
    width: auto !important;
}





@import "variables";
@import "grid";
@import "nav";
@import "index";
@import "settings";
@import "security";
@import "firstTimeSetup";


* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $pColour;
    color: white;
}

p {
    font-size: 1em;
}

ul {
    margin: 0px;
    padding: 0px;
}


.flex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.horizontalCenter {
    justify-content: center;
}

.vertcalCenter {
    align-items: center;
}

.w100 {
    width: 100%;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}


.container {
    padding: 5% 5%;
    margin: 0 auto;
    overflow: auto;
}



.pColour {
    background-color: #0d4f77;
}

.sColour {
    background-color: #f08222;
}

.tColour {
    background-color: #f39b4e;
}



.textWhite {
    color: white;
}

.textCenter {
    text-align: center;
}

.noTextDeco {
    text-decoration: none;
}

.mp0 {
    margin: 0px;
    padding: 0px;
}

.sHeader1 {
    font-size: 2em;
    font-weight: bold;
}

.sHeader2 {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.cPointer {
    @include hoverPointer;
}


.button {
    background-color: $sColour;
    color: white;
    font-size: 2em;
    padding: 1% 2%;
}

@media screen and (min-width: 900px) {
    .container {
        padding: 1% 10%;
    }

    p {
        font-size: 3em;
    }

    .sHeader1 {
        font-size: 3em;
    }

    .sHeader2 {
        font-size: 2em;
    }
}
